[submodule "third_party/multipart-parser-c"]
	path = third_party/multipart-parser-c
	url = https://github.com/iafonov/multipart-parser-c.git
[submodule "third_party/file"]
	path = third_party/file
	url = https://github.com/file/file.git
[submodule "third_party/libttak"]
	path = third_party/libttak
	url = https://github.com/religiya-serdtsa/libttak.git
